@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
 p, h1, h2, a {
  word-wrap: break-word;
 }
.wrapper {
  max-width: 1083px;
  margin: auto;
  position: relative;
  overflow: hidden;
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {   
  .main_info {
    flex-direction: column;
  }
  .main_message {
    width: 100% !important;
    text-align: center;
  }
  .main_links {
    margin-top: 25px;
    width: 100% !important;
  }
 .footer_info2 {
  flex-direction: column;
 }
 .footer_location, .footer_detailes {
  width: 100% !important;
  padding: 35px 0px;
 }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {    
  .banner_area {
    height: 350px !important;
  }
  .wrapper {
    max-width: 850px!important;
    padding: 0px 15px;
  }
  .nav_menu, .footer_nav_menu  {
  width: 955px !important;
  }
  .order {
    display: flex;
    flex-direction: column;
  }

  .header_logo > a > figure > img {
    height: 80px !important;
  } 
  #header {
    order: 1;
  }
  #nav {
    order: 2;
  }
  .header_info {
    display: none !important;
  }
  .header_main {
   height: 120px !important;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  
  .header_main {
    padding: 0 !important;
  }
  .wrapper {
    max-width: 900px !important;
  }
 .nav_wrapper {
  width: 100%;
  overflow-x: auto;
  }
  .nav_menu {
  width: 955px;
  }
  .footer_nav_wrapper {
    width: 100%;
    overflow-x: auto;
  }
  .footer_nav_menu {
    width: 955px;
  }
 }


/* nav */
.nav_area {
  background-color: #11589d;
  height: 80px;
  text-align: center;
  display: flex;
}
.nav_menu li {
  display: inline;
  list-style-type: none;
}
.nav_menu > li > a {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
}
.nav_menu > li + li::before {
  content: "|";
  color: #119d64;
  padding: 0px 30px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  }

  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e0e0e045; 
  border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
  background: #e0e0e045; 
  border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
  background: #e0e0e045; 
  }
/* end of nav */

/* header */
.header_area {
  background-color: #ffffff;
}
.header_main {
  height: 158px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
}
.header_logo > a > figure > img {
  height: 104px;
  width: 100%;
}
.header_info {
  display: flex;
  align-items: center;
}
/* header - social media  */
.social_media {
  display: flex;
  align-items: center;
}
.social_media ul li {
  list-style-type: none;
  display: inline;
}
.social_media > ul > li > a > figure {
  display: inline;
}
.social_media > ul > li > a > figure > img {
  height: 38px;
}
.header-divider {
  margin: 0px 21px;
  height: 30px;
}
.contact_us > figure {
  display: flex;
  align-items: flex-start;
}
.contact_us figure > figcaption > h5 {
 font-size: 18px;
 font-family: inherit;
 font-weight: bold;
 color: #080808;
}
.contact_us > figure > figcaption > mark {
  font-size: 30px;
  font-family: inherit;
  font-weight: bold;
  color: #11589d;
  background-color: transparent;
 }

 .contact_us > figure > figcaption {
  padding: 0px 10px;
 }

/* banner */
.banner_area {
  position: relative;
  height: 100%;
  width: 100%;
}
.banner_area > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
/* main */
.main_area {
  background-color: #ffffff;
}
.main_info {
  position: relative;
  padding-top: 51px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.main_welcome > h2{
 font-size: 20px;
 font-weight: normal;
 font-family: 'Mulish', sans-serif; 
 color: #080808;
}
.main_welcome > h1, .main_info > h1 > span  {
  font-size: 48px;
  font-weight: bold;
  font-family: inherit;
}
.main_welcome > h1 > span {
  color: #119d64;
}
.main_welcome > h1 {
  color: #2e2e2e;
  margin-bottom: 30px;
}
.main_welcome > p {
  line-height: 25px;
  font-size: 17px;
  font-weight: normal;
  font-family: 'Mulish', sans-serif; 
  color: #2e2e2e;
  text-align: left;
}
.main_links > ul > li {
  list-style-type: none;
  margin-bottom: 17px;
}
.main_mission_statement_card {
  margin-top: 50px;
  border: 1px solid #e0e0e045;
  padding: 20px;
}
.main_mission_statement_card > h2 {
  font-size: 35px;
  font-weight: bold;
  font-family: inherit;
  color: #2e2e2e;
}
.main_mission_statement_card > p {
  line-height: 25px;
 margin-top: 31px;
 font-size: 17px;
 font-weight: normal;
 font-family: 'Mulish', sans-serif; 
 color: #2e2e2e;
 text-align: left;
}
.main_mission_statement_card > button {
  margin-top: 32px;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  color: #ffffff;
  border: none;
  padding: 17px 0px;
  width: 166px;
  background-color: #11589d;
 }
 .main_mission_statement_card > button:hover {
  cursor: pointer;
 }
 .main_message { 
  width: 60%;
 }
 .main_links {
  width:30%
 }
 .main_links > ul > li:nth-child(even) a{
  background-color: #119d64;
}
 .main_links > ul > li > a {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: none;
  padding: 34px 15px;
  width: 100%;
  background-color: #11589d;
 }
/* footer */
.footer_divider {
  border : 7px solid #11589d;
}
.footer_area {
  padding-top: 36px;
  padding-bottom: 28px;
  background-color: #ffffff;
}
.footer_info1 {
  text-align: center;
}
.footer_info1 > h2 {
  font-size: 35px;
  font-weight: bold;
  font-family: inherit;
  color: #2e2e2e;
}
.footer_info1 > h2 > span {
  font-size: 20px;
  font-weight: normal;
  font-family: 'Mulish', sans-serif; 
  color: #2e2e2e;
  display: block;
}
/* footer - location */
.footer_location > figure > figcaption > h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: inherit;
  color: #119d64;
}
.footer_location > figure > figcaption > p{
  margin: 8px 0px;
  font-size: 17px;
  font-weight: normal;
  font-family: 'Mulish', sans-serif; 
  color: #080808;
  line-height: 25px;
}
.footer_location > figure > figcaption > a{
  font-size: 17px;
  font-weight: normal;
  font-family: 'Mulish', sans-serif; 
  color: #11589d;
  text-decoration: none;
}
.footer_detailes > figure > figcaption > h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: inherit;
  color: #119d64;
}
.footer_detailes > figure > figcaption > p {
  margin: 8px 0px;
  font-size: 17px;
  font-weight: normal;
  font-family: 'Mulish', sans-serif; 
  color: #080808;
  line-height: 25px;
}
.footer_detailes > figure > figcaption > p > mark {
  background-color: transparent;
}
.footer_detailes > figure > figcaption > a{
  font-size: 17px;
  font-weight: normal;
  font-family: 'Mulish', sans-serif; 
  color: #11589d;
  text-decoration: none;
}
.footer_info2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* padding: 0px 80px; */
  padding-top: 31px;
}
.footer_location, .footer_detailes {
  width: 100%;
}
.footer_copyright {
  margin-top: 105px;
  text-align: center;
}
.footer_copyright > span {
  font-size: 17px;
  font-weight: bold;
  font-family: inherit;
  color: #11589d;
}
/* footer nav*/
.footer_nav_area {
  background-color: #119d64;
  height: 80px;
  text-align: center;
  display: flex;
}
.footer_nav_menu li {
  display: inline;
  list-style-type: none;
}
.footer_nav_menu > li > a {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
}
.footer_nav_menu > li + li::before {
  content: "|";
  color: #11589d;
  padding: 0px 30px;
}